[id] {
  &:where(h1, h2, h3, h4, h5, h6, [aria-level][role='heading']) {
    > a {
      &[aria-hidden='true'] {
        &[href*='#'] {
          display: inline-block;
          margin-inline-end: 0.25em;
          &:first-of-type {
            &::before {
              content: var(--anchor, '\00A7');
              display: block;
              font: inherit;
            }
          }
        }
      }
    }
  }
}